<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
    </startup>
  <appSettings>
       <add key="mysql" value="Database=test;Port=3308;Data Source=localhost;User Id=root;Password="/>
       <add key="pwd" value="lcg"/>
       <add key="comm" value="select * from testtable where psn="/>
      <add key="begin" value="d:\test\start.txt"/>
      <add key="sn" value="d:\test\sn.txt"/><!--sn文件-->
       <add key="timeout" value="1000"/><!--write模式下写值超时时间(ms)-->
    <!--read_tid模式下为获取epc或者tid超时(ms)-->
    <!--tid模式下每个频率下获取超时时间(ms)-->
    <!--write模式下写值超时时间(ms)-->
     <add key="count" value="60"/><!--标签总数-->
    <add key="times" value="10000"/><!--单功率下的轮询次数-->
    <!--read_tid模式下为每个频率下超时时间（ms)-->
    <add key="ip" value="192.168.1.200"/><!--单功率下的轮询次数-->
    <add key="model" value="read_tid"/> <!--write模式循环找begin词段文件，然后写值-->
    <!--read模式一次性-->
    <!--read_tid模式一次性-->
    <add key="performance" value="color"/>
    <!--color为显示颜色提示信号强度-->
    <!--其他为精简模式，速度快！-->
  </appSettings>
</configuration>
